*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    background-image: url(../img/fondo/fondo\ de\ web2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 70px;
    background-color: #f3d1d7;
    padding: 1.5rem;
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: center;
}
.header img{
    width: 70px;
    border-radius: 20%;
}

.header nav ul li{
    background-color: #444242;
    border-radius: 10px;
    margin: 0 10px;
}
.header nav ul a{
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
    border-radius: 10px;
}
.header nav li a:hover{
    background-color: white;
    color: black;
}
.header nav li a:active{
    text-decoration: none;
    color: pink;
}
.header nav li a:visited{
    color: white;
}
h2{
    color: white;
    background-color: #23004454;
}
p{
    color: white;
    background-color: #23004454;
}
h5{
    color: black;
    background-color: #f3d1d7c2;
}
.tamano{
    width: 900px;
    margin: 10px auto;
    border: 5px #230044 solid;
}
.footer{
    background-color: #f3d1d7;
    padding:1.2rem;
    display: flex;
    justify-content: flex-start;
    grid-area: footer;
    text-align: center;

}
.footer__wpp{
    position: fixed;
    left: 95%;
    top: 90%;
}
.footer__modal__logo{
    width: 100px;
}
.footer__wpp__boton{
    background-color: #230044;
}
 /* Media query*/






