* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  background-image: url(../img/fondo/fondo\ de\ web2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  height: 70px;
  background: linear-gradient(to top, #f3d1d7, rgba(35, 0, 68, 0.3294117647));
  padding: 1.5rem;
  display: flex;
  grid-area: header;
  justify-content: space-around;
  align-items: center;
}
.header .navbar div a .logo {
  width: 70px;
  border-radius: 20%;
  transition: all 2s;
}
.header .navbar div a .logo:hover {
  transform: scale(1.2, 1.2);
}
.header .navbar div div ul li {
  background-color: #444242;
  border-radius: 10px;
  margin: 0 10px;
  transition: all 1s;
}
.header .navbar div div ul li:hover {
  background-color: black;
  transform: scale(1.2, 1.2);
}
.header .navbar div div ul li:active {
  text-decoration: none;
  background-color: rgba(35, 0, 68, 0.3294117647);
}
.header .navbar div div ul li a {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: block;
  border-radius: 10px;
}

.container div .header_titulo {
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
}
.container .tamano {
  width: 60%;
  margin: 10px auto;
  border: 5px #230044 solid;
}
.container .texto_index {
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
}

@media (max-width: 768px) {
  .tamano {
    width: 40%;
    margin: 5px auto;
  }
}
@media (max-width: 480px) {
  .tamano {
    width: 20%;
    margin: 3px auto;
  }
}
.tamano .titulo-carousel {
  color: black;
  background-color: #f3d1d7;
}
.tamano .texto-carousel {
  font-weight: bold;
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
}

.tamano .texto_acordion {
  font-weight: bold;
}

.planes_nutricionales .titulo_nutricion_plan1 {
  padding: 10px;
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
}
.planes_nutricionales .subtitulo_plan1 {
  padding: 5px;
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
}
.planes_nutricionales ul .desayunos {
  padding: 5px;
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
}

.tamano {
  width: 60%;
  margin: 10px auto;
  border: 5px #230044 solid;
}
.tamano div .titulo_carousel_act, .tamano div .text_carousel_act {
  color: white;
  background-color: rgba(35, 0, 68, 0.3294117647);
  font-weight: bold;
}
.footer {
  background-color: #f3d1d7;
  padding: 1.2rem;
  display: flex;
  justify-content: flex-start;
  grid-area: footer;
  text-align: center;
}
.footer div .footer__wpp {
  position: fixed;
  left: 93%;
  top: 90%;
  animation-name: gira;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes gira {
  100% {
    transform: rotate(360deg);
  }
}
.footer div div div div div .footer__modal__logo {
  width: 100px;
}
.footer div div div div div .footer__wpp__boton {
  background-color: rgba(35, 0, 68, 0.3294117647);
}

/*# sourceMappingURL=style.css.map */
