* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $blanco;
    background-image: url(../img/fondo/fondo\ de\ web2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}