.footer {
    background-color: #f3d1d7;
    padding: 1.2rem;
    display: flex;
    justify-content: flex-start;
    grid-area: footer;
    text-align: center;

    div {
        .footer__wpp__boton {
            position: fixed;
            left: 93%;
            top: 90%;
            animation-name: gira;
            animation-duration: 3s;
            animation-iteration-count: infinite;

            @keyframes gira {
                100% {
                    transform: rotate(360deg);
                }
            }

        }

        div {
            div {
                .footer__modal__boton {
                    background-color: $violeta-oscuro;
                    transition: all 1s;

                    &:hover {
                        background-color: black;
                        transform: scale(1.2, 1.2);
                    }

                    &:active {
                        text-decoration: none;
                        background-color: $rosa;
                    }

                    .texto_boton_wpp {
                        color: black;
                        text-decoration: none;
                        transition: all 1s;

                        &:hover {
                            color: $blanco;
                        }

                        &:active {
                            color: black;
                        }
                    }

                }
            }
        }
    }
}
@media (max-width:768px) {
    .footer{
        div{
            .footer__wpp__boton{
                left: 85%;
            }
        }
    }
}
@media (max-width:480px) {
    .footer{
        div{
            .footer__wpp__boton{
                left: 80%;
            }
        }
    }
}
