.footer {
    background-color: #f3d1d7;
    padding: 1.2rem;
    display: flex;
    justify-content: flex-start;
    grid-area: footer;
    text-align: center;

    div {
        .footer__wpp {
            position: fixed;
            left: 95%;
            top: 90%;
        }
        div {
            div {
                div {
                    div {
                        .footer__modal__logo {
                            width: 100px;
                        }
                    }

                    div {
                        .footer__wpp__boton {
                            background-color: $violeta-oscuro;

                        }
                    }
                }
            }
        }
    }
}