.container {
    div {
        .header_titulo {
            color: $blanco;
            background-color: $violeta-oscuro;
        }
    }
    .contenedor_video{
        display: flex;
        justify-content: center;
        align-items: center;
        .index_video{
            width: 70%;
            height: auto;
        }
    }



    .texto_index{
        color: $blanco;
        background-color: $violeta-oscuro;
    }
    .texto2_index{
        color: $blanco;
        background-color: #000000da;
    }
    .formulario__index{
        color: $blanco;
        background-color: #000000da;
        .boton__formulario{
            background-color: $violeta-oscuro;
        }
    }

}
