.tamano{
    .titulo-carousel{
        color: black;
        background-color: $rosa;
    }
    .texto-carousel{
        font-weight: bold;
        color: $blanco;
        background-color: $violeta-oscuro;
    }
}
.tamano{
    .texto_acordion{
        font-weight: bold;
    }
}
.planes_nutricionales{
    .titulo_nutricion_plan1{
        @include text-style(white, $violeta-oscuro, 10px)
    }
    .subtitulo_plan1{
        @include text-style(white, $violeta-oscuro, 5px)
    }
    ul{
        .desayunos{
            @include text-style(white, $violeta-oscuro, 5px)
        }
    }
}