$rosa: #f3d1d7;
$blanco: white;
$violeta-oscuro: #23004454;

@mixin text-style($color, $bg-color, $padding){
    padding: $padding;
    color: $color;
    background-color: $bg-color;
}

@import "404";
@import "encabezado";
@import "header";
@import "main_index";
@import "nutricion";
@import "actividades";
@import "footer";



